# User Service DB
USER_DB_HOST=localhost
USER_DB_PORT=5432
USER_DB_USER=postgres
USER_DB_PASSWORD=postgres
USER_DB_NAME=user_db

# Auth Service DB
AUTH_DB_HOST=localhost
AUTH_DB_PORT=5433
AUTH_DB_USER=postgres
AUTH_DB_PASSWORD=postgres
AUTH_DB_NAME=auth_db

# JWT
JWT_SECRET=your-256-bit-secret-change-in-production
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=168h

# gRPC
AUTH_GRPC_ADDR=localhost:50051
USER_GRPC_ADDR=localhost:50052

# API Gateway
GATEWAY_HTTP_ADDR=:8080

# Kafka
KAFKA_BROKERS=localhost:9092

# Notification Service — SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM=noreply@exbanka.com

# Notification Service — gRPC
NOTIFICATION_GRPC_ADDR=localhost:50053

# Redis
REDIS_ADDR=localhost:6379
