go 1.26.1

use (
	./account-service
	./api-gateway
	./auth-service
	./card-service
	./client-service
	./contract
	./credit-service
	./exchange-service
	./interbank-service
	./notification-service
	./seeder
	./stock-service
	./test-app
	./tools/perm-codegen
	./tools/proto-idempotency-check
	./tools/seed-otc-scenarios
	./transaction-service
	./user-service
	./verification-service
)
